<div class="container">
  <div class="row">
    <div class="col-md-6">
      Name: <%= @order_item.name %></br>
      Address: <%= @order_item.address %></br>
      Phone: <%= @order_item.phone %></br>
    </div>
  </div>
</div>