<h1>Catogories#show</h1>

<div class="container">
  <div class="row">
    <div class="card">
      <p><%= @category.name %></p>    
      <p><%= @category.description %></p>    
    </div>

  </div>
  <%= link_to "Back", categories_path %>
</div>
